In [7]:
### Import Library
import pandas as pd
import numpy as np

In [2]:
### Import Dataset
Dating_df = pd.read_excel('D:/Data Analysis/Lovoo_v3_DatingApp_Data/DatingApp_Data.xlsx')
Dating_df.head(10)
Dating_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3352 entries, 0 to 3351
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    3352 non-null   object
 1   Age                     3352 non-null   int64
 2   Gender                  3352 non-null   object
 3   Desired_gender          3352 non-null   object
 4   Country                 3352 non-null   object
 5   Counts_pictures         3352 non-null   int64
 6   Counts_profileVisits    3352 non-null   int64
 7   Counts_likes            3352 non-null   int64
 8   FlirtInterests_chat     3352 non-null   bool
 9   FlirtInterests_date     3352 non-null   bool
 10  FlirtInterests_friends  3352 non-null   bool
 11  VIP                     3352 non-null   bool
 12  Influencer              3352 non-null   bool
 13  Verified                3352 non-null   bool
 14  Lang_count              3352 non-null   int64
 15  Lang_English            3352 non-null   bool
 16  Lang_French             3352 non-null   bool
 17  Lang_German             3352 non-null   bool
 18  Lang_Italian            3352 non-null   bool
 19  Lang_Portuguese         3352 non-null   bool
 20  Lang_Spanish            3352 non-null   bool
 21  Flirtstar               3352 non-null   bool
 22  Highlighted             3352 non-null   bool
 23  Distance                3326 non-null   float64
 24  Mobile                  3352 non-null   bool
 25  ShareProfile_Enabled    3352 non-null   bool
dtypes: bool(16), float64(1), int64(5), object(4)
memory usage: 314.4+ KB

In [3]:
### Remove Duplicates 
aggregated_df = Dating_df.groupby(["Name","Age", "Gender","Desired_gender","Country", "Counts_profileVisits",
                                   "Counts_likes", "FlirtInterests_chat", "FlirtInterests_date", "FlirtInterests_friends",
                                   "VIP", "Influencer", "Verified","Lang_count", "Lang_English", "Lang_French", "Lang_German",
                                  "Lang_Italian", "Lang_Portuguese", "Lang_Spanish", "Flirtstar", "Highlighted", "Distance",
                                  "Mobile", "ShareProfile_Enabled"], 
                                  as_index = False)["Counts_pictures"].sum()
print(aggregated_df)
display(aggregated_df)
aggregated_df.shape

                           Name  Age Gender Desired_gender Country  \
0                          #...   24      F              M      DE
1             #CÐ½É˜ÑÑÎ³ ðŸ’   20      F              M      CH
2                 #_ Shuuuuut .   21      F              M      FR
3                  #bettadendem   20      F              M      CH
4                  #superbowski   21      F              M      DE
...                         ...  ...    ...            ...     ...
3321              ðŸ‘„ANGELðŸ‘„   23      F              M      CH
3322  ðŸ’ŽDáƒ›Õ²á¼¶Æˆáƒ›áƒ›ðŸ’Ž   22      F           none      CH
3323           ðŸ’•PrincessðŸ’•   25      F           none      DE
3324             ðŸ’™MinnieðŸ’™   25      F           none      FR
3325           ðŸ™ˆðŸ™ˆðŸ™ˆðŸ™ˆ   25      F              M      DE

      Counts_profileVisits  Counts_likes  FlirtInterests_chat  \
0                      365             3                False
1                     4070           209                 True
2                     3450           193                 True
3                    19662           945                 True
4                    10601           377                 True
...                    ...           ...                  ...
3321                 16729           414                 True
3322                  3450           206                False
3323                  1313            33                 True
3324                 17332           782                 True
3325                    73             4                False

      FlirtInterests_date  FlirtInterests_friends  ...  Lang_German  \
0                   False                    True  ...         True
1                    True                   False  ...         True
2                   False                   False  ...        False
3                    True                   False  ...         True
4                   False                   False  ...         True
...                   ...                     ...  ...          ...
3321                False                   False  ...         True
3322                False                   False  ...         True
3323                False                   False  ...         True
3324                 True                    True  ...        False
3325                 True                   False  ...         True

      Lang_Italian  Lang_Portuguese  Lang_Spanish  Flirtstar  Highlighted  \
0            False            False         False      False        False
1            False            False         False      False        False
2            False            False         False      False        False
3            False            False         False      False        False
4            False            False         False      False        False
...            ...              ...           ...        ...          ...
3321         False            False         False      False        False
3322         False            False         False      False        False
3323         False            False         False      False        False
3324         False            False         False      False        False
3325         False            False         False      False        False

      Distance  Mobile  ShareProfile_Enabled  Counts_pictures
0        463.0    True                  True                1
1        166.0   False                  True                0
2        130.0    True                  True                3
3        168.0    True                  True               16
4        156.0    True                  True                7
...        ...     ...                   ...              ...
3321     143.0    True                  True                6
3322     130.0    True                  True               14
3323       0.0    True                  True                3
3324     161.0    True                  True                8
3325     324.0   False                  True                1

[3326 rows x 26 columns]

,Name,Age,Gender,Desired_gender,Country,Counts_profileVisits,Counts_likes,FlirtInterests_chat,FlirtInterests_date,FlirtInterests_friends,...,Lang_German,Lang_Italian,Lang_Portuguese,Lang_Spanish,Flirtstar,Highlighted,Distance,Mobile,ShareProfile_Enabled,Counts_pictures
0,#...,24,F,M,DE,365,3,False,False,True,...,True,False,False,False,False,False,463.0,True,True,1
1,#CÐ½É˜ÑÑÎ³ ðŸ’,20,F,M,CH,4070,209,True,True,False,...,True,False,False,False,False,False,166.0,False,True,0
2,#_ Shuuuuut .,21,F,M,FR,3450,193,True,False,False,...,False,False,False,False,False,False,130.0,True,True,3
3,#bettadendem,20,F,M,CH,19662,945,True,True,False,...,True,False,False,False,False,False,168.0,True,True,16
4,#superbowski,21,F,M,DE,10601,377,True,False,False,...,True,False,False,False,False,False,156.0,True,True,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3321,ðŸ‘„ANGELðŸ‘„,23,F,M,CH,16729,414,True,False,False,...,True,False,False,False,False,False,143.0,True,True,6
3322,ðŸ’ŽDáƒ›Õ²á¼¶Æˆáƒ›áƒ›ðŸ’Ž,22,F,none,CH,3450,206,False,False,False,...,True,False,False,False,False,False,130.0,True,True,14
3323,ðŸ’•PrincessðŸ’•,25,F,none,DE,1313,33,True,False,False,...,True,False,False,False,False,False,0.0,True,True,3
3324,ðŸ’™MinnieðŸ’™,25,F,none,FR,17332,782,True,True,True,...,False,False,False,False,False,False,161.0,True,True,8
3325,ðŸ™ˆðŸ™ˆðŸ™ˆðŸ™ˆ,25,F,M,DE,73,4,False,True,False,...,True,False,False,False,False,False,324.0,False,True,1

(3326, 26)

In [4]:
### Check If There Are Duplicates In The DataFrame named "aggregated_df"
duplicates = aggregated_df.duplicated(subset="Name")

if duplicates.any():
    print("Duplicates found in the 'Name' column.")
else:
    print("No duplicates found in the 'Name' column.")

Duplicates found in the 'Name' column.

In [5]:
### Identify Duplicate Rows In The DataFrame Named "aggregated_df"
duplicate_rows = aggregated_df[aggregated_df.duplicated(subset="Name", keep=False)]

### Display the rows with duplicates in the "Name" column
print(duplicate_rows)

#### Since This Doesn't Show Me All The Results, I will Check if There are Null Values Then I will Save The Data To An Excel File To Further Examine It.

           Name  Age Gender Desired_gender Country  Counts_profileVisits  \
12          ...   19      F              M      CH                  1424
13          ...   19      F              M      CH                  7694
14          ...   19      F              M      CH                 38561
15          ...   20      F              M      CH                  8463
16          ...   21      F              M      DE                  4751
...         ...  ...    ...            ...     ...                   ...
3276       xoxo   26      F              M      DE                  1644
3279       xxxx   19      F              M      AT                   213
3280       xxxx   25      F              M      DE                    50
3306  â™¡â™¡â™¡   20      F              M      DE                  4833
3307  â™¡â™¡â™¡   22      F              M      DE                   213

      Counts_likes  FlirtInterests_chat  FlirtInterests_date  \
12              84                False                 True
13             143                 True                 True
14            4527                 True                False
15             479                 True                 True
16             121                False                 True
...            ...                  ...                  ...
3276            52                False                 True
3279             2                 True                 True
3280             2                False                False
3306            86                False                False
3307             3                False                False

      FlirtInterests_friends  ...  Lang_German  Lang_Italian  Lang_Portuguese  \
12                     False  ...         True         False            False
13                      True  ...         True         False            False
14                     False  ...         True         False            False
15                      True  ...         True         False            False
16                      True  ...         True         False            False
...                      ...  ...          ...           ...              ...
3276                   False  ...         True         False            False
3279                   False  ...         True         False            False
3280                   False  ...         True         False            False
3306                    True  ...         True         False            False
3307                    True  ...        False         False            False

      Lang_Spanish  Flirtstar  Highlighted  Distance  Mobile  \
12           False      False        False     173.0    True
13           False      False        False     135.0    True
14           False      False        False     157.0    True
15           False      False        False     135.0    True
16           False      False        False     492.0    True
...            ...        ...          ...       ...     ...
3276         False      False        False     307.0   False
3279         False      False        False     250.0   False
3280         False      False        False       0.0   False
3306         False       True         True     222.0    True
3307         False      False        False     356.0    True

      ShareProfile_Enabled  Counts_pictures
12                    True                5
13                    True                3
14                    True                4
15                    True                4
16                    True                4
...                    ...              ...
3276                  True                4
3279                  True                3
3280                  True                1
3306                  True               23
3307                  True                4

[1500 rows x 26 columns]

In [6]:
### Check If There Is Missing Values Count Per Column
aggregated_df.isnull().sum()

####There Are No Missing Values

Name                      0
Age                       0
Gender                    0
Desired_gender            0
Country                   0
Counts_profileVisits      0
Counts_likes              0
FlirtInterests_chat       0
FlirtInterests_date       0
FlirtInterests_friends    0
VIP                       0
Influencer                0
Verified                  0
Lang_count                0
Lang_English              0
Lang_French               0
Lang_German               0
Lang_Italian              0
Lang_Portuguese           0
Lang_Spanish              0
Flirtstar                 0
Highlighted               0
Distance                  0
Mobile                    0
ShareProfile_Enabled      0
Counts_pictures           0
dtype: int64

In [ ]:
### Save the data to file
aggregated_df.to_excel('D:/Data Analysis/Lovoo_v3_DatingApp_Data/CleanDatingApp_Data.xlsx')

#### After Carefully Examining The Data I Have To Assume That The Remaining Duplicated Names Are Of Different Individuals Who Have The Same Name. 
#### I have come to this conclusion because my investigation in the excel file has made me realise that majority of the individuals with duplicated names come from different countries or have different ages or speak different languages. Therefore, I am highly confident that the data that I have is Sufficiently clean